<div ng-controller="EntryCtrl">

<form>
  <div class="control-group">
    <label class="control-label" for="inputPrice">Price of item ($):</label>
    <input class="input-block-level" type="number" step="any" id="inputItemPrice" placeholder="e.g. 3.95" required="required">
  </div>

  <div class="control-group">
    <label class="control-label" for="inputItemName">Name of item (optional):</label>
    <div class="controls">
      <input class="input-block-level" type="text" id="inputItemName" placeholder="e.g. Eye Fillet">
    </div>
  </div>


  <div class="control-group">
    <label class="control-label">Select the people who had this item:</label>

    <div class="accordion" id="person-accordion">
      <div ng-repeat="person in people" class="accordion-group">

        <div class="accordion-heading" style="margin: 20px 15px;">
          <label class="checkbox" for="{{person.id}}">
            <input class="person" type="checkbox" id="{{person.id}}"/>
            {{person.summary()}}
            <a style="float: right; margin-left: 15px;" data-toggle="collapse" data-target="#collapseItemsPerson{{person.id}}">
              <i class="icon-list icon-2x"></i>
            </a>
            <a style="float: right; margin-left: 15px;" data-toggle="collapse" data-target="#collapseDetailsPerson{{person.id}}">
              <i class="icon-pencil icon-2x"></i>
            </a>
          </label>
        </div>

        <div id="collapseItemsPerson{{person.id}}" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul ng-show="person.itemCount() > 0">
              <li ng-repeat="item in person.items">
                {{item.name}} (${{item.price}})
              </li>
            </ul>
            <p ng-show="person.itemCount() <= 0" class="muted">No items yet</p>
          </div>
        </div>

        <div id="collapseDetailsPerson{{person.id}}" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="form-inline">
              <label for="inputNamePerson{{person.id}}">
                Name:
                <input type="text" class="input-small" id="inputNamePerson{{person.id}}" ng-model="person.name"/>
                <button class="btn" data-toggle="collapse" data-target="#collapseDetailsPerson{{person.id}}">Done</button>
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="control-group">
    <div class="controls">
      <button ng-click="addItemToPeople()" type="submit" class="btn btn-large btn-block btn-primary">Next Item</button>
    </div>
  </div>
</div>
