<div ng-controller="EntryCtrl">
  <div class="well">
    <h2>Welcome</h2>
    <p>
      Bill Split will help you divide items between people.
      The next screen will allow you to assign items to people.
    </p>
  </div>
  <form>
    <label>Number of people:</label>
    <input class="input-block-level" ng-model="numberOfPeople" type="number" />

    <div class="control-group">
      <div class="controls">
        <button class="btn btn-large btn-primary btn-block" ng-click="goToCalculator()">Go!</button>
      </div>
    </div>

  </form>
</div>
